.container {
   display: flex;
   flex-direction: column;
   gap: 20px;

   .products {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .productList {
         flex: 1;

         .notFound {
            text-align: center;
            font-size: var(--title-fontSize);
         }
      }
   }
}
